<appSettings>
	<add key="username" value="betholmo@gmail.com"/>
	<add key="password" value="qkojimpwqssqagch"/> <!--Specifically for this - NOT your personal email password - on-->
	<add key="emailto" value="betholmo@gmail.com"/>
	<add key="host" value="smtp.gmail.com"/>
	<add key="port" value="587"/>
</appSettings>
