    <!-- Hero Section-->
<section style="background: url('../../Images/BlogSheroB1920x1438C.png'); background-size: cover; background-position: center top" class="hero">
    <div class="container">
        @*<div class="row mt-xl-5">
                <div class="col-lg-7 offset-2">
                    <h1>Developer Thoughts</h1>
                </div>
            </div>*@
    </div>
</section>

<!-- Intro Section-->
<section class="intro">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <h1>You <span style="font-style:italic" >Can</span> Get There From Here</h1>
                <p class="text-big">Welcome! Thanks for stopping by. I'm a developer, musician, maker, writer... a creative! This blog is where I share my thoughts and insights on my journey to and experiences of being a Full Stack .Net Developer.</p>
            </div>
        </div>
    </div>
</section>

<!-- Divider Section-->
<section style="background: url('../../Images/DivBkgrnd_B1920x1280(2).png'); background-size: cover; background-position: center bottom" class="divider">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h2>WHAT ELSE CAN I SAY HERE?</h2><a href="//betholmo-portfolio.netlify.app/" class="hero-link">Check Out My Portfolio??</a>
            </div>
        </div>
    </div>
</section>

<!-- Latest Posts -->
<section class="latest-posts">
    <div class="container">
        <header>
            <h2>Latest from the blog</h2>
            @*<p class="text-big">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>*@
        </header>
        <div class="row">
            <div class="post col-md-4">
                <div class="post-thumbnail"><a href="post.html"><img src="~/Images/placeholdduck.png" /></a></div>
                <div class="post-details">
                    <div class="post-meta d-flex justify-content-between">
                        <div class="date">20 May | 2016</div>
                        <div class="category"><a href="#"></a></div>
                    </div><a href="post.html">
                        <h3 class="h4">What's With All The Ducks?</h3>
                    </a>
                    @*<p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>*@
                </div>
            </div>
            <div class="post col-md-4">
                <div class="post-thumbnail"><a href="post.html"><img src="~/Images/placeholdfizz.png" /></a></div>
                <div class="post-details">
                    <div class="post-meta d-flex justify-content-between">
                        <div class="date">20 May | 2016</div>
                        <div class="category"><a href="#"></a></div>
                    </div><a href="post.html">
                        <h3 class="h4">Fizz Buzz!</h3>
                    </a>
                    @*<p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>*@
                </div>
            </div>
            <div class="post col-md-4">
                <div class="post-thumbnail"><a href="post.html"><img src="~/Images/placeholdsun.png" /></a></div>
                <div class="post-details">
                    <div class="post-meta d-flex justify-content-between">
                        <div class="date">20 May | 2016</div>
                        <div class="category"><a href="#"></a></div>
                    </div><a href="post.html">
                        <h3 class="h4">Sunset Hills</h3>
                    </a>
                    @*<p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>*@
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Newsletter Section-->
<section class="newsletter no-padding-top">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h2>Subscribe</h2>
                <p class="text-big">Never miss a new post!</p>
            </div>
            <div class="col-md-8">
                <div class="form-holder">
                    <form action="#">
                        <div class="form-group">
                            <input type="email" name="email" id="email" placeholder="Enter your email address">
                            <button type="submit" class="submit">Subscribe</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>